openapi: 3.1.0
info:
  title: Broods API Reference
  description: |
    Complete API reference for Broods. Two surfaces:

    - **Direct API** — account-authenticated agent runtime endpoint (sync SSE, async jobs, status polling, external tool completion)
    - **Account Management** — tenant configuration (accounts, agents, skills, secrets)

    > **For daily development, use the `broods` CLI and TypeScript SDK.** The CLI handles tenant configuration (agents, sandboxes, workspaces, skills, crons, tools) automatically via `broods dev` and `broods deploy`. You do not need to call these account-management endpoints manually. This reference is for:
    > - Runtime invocation (`/`, `/async`, `/status/{eventId}`) from the TypeScript SDK, curl, or Python client
    > - Advanced integrations that need direct account-management access
    > - Admin operations using `AdminAccountSecret`

    Account metadata and secret rotation are served by the config plane behind the same gateway host; account creation and delete stay in core for admin-controlled provisioning and runtime cleanup. Account creation, administration, and rotate-secret are reachable by admins with the `AdminAccountSecret` bearer token. Agent CRUD is account-authenticated under `/v1/agents*`. Account environment variables are write-only account secrets under `/v1/env*`, usable as `${NAME}` references in agent configs. Agents, env vars, skills, tools, workspace files, crons, workspaces, sandboxes, and policies are served by the config plane and have no admin path variants.
  version: 0.1.0

servers:
  - url: https://gateway.broods.app
    description: Managed gateway (default SDK host)
  - url: http://localhost:3000
    description: Locally-run core container (`cd apps/core && bun run serve`; agents/skills/tools/workspace-files/crons/workspaces/sandboxes/policies CRUD routes are served by the Convex config plane, not a local core)

security:
  - BearerAuth: []

tags:
  - name: Direct API
    description: Agent runtime for sync SSE, async jobs, status polling, and external tool completion.
  - name: Accounts
    description: Account lifecycle, metadata, and secret rotation.
  - name: Agents
    description: Account-owned agent configuration.
  - name: Environment Variables
    description: Write-only account-scoped secrets referenced by dynamic agent configs.
  - name: Skills
    description: Account-owned skill package management.
  - name: Cron Jobs
    description: Account-owned scheduled agent runs.
  - name: Sandboxes
    description: Account-owned sandbox execution configs.
  - name: Workspaces
    description: Account-owned workspace configs.
  - name: Tools
    description: Account-uploaded custom tool bundles.
  - name: Policies
    description: Account-owned reusable runtime authorization policies.
  - name: Channels
    description: >-
      Account-owned channel records. One row per real place a team talks, binding
      it to an agent with its own instructions, workspaces, policies and roles.

paths:
  /:
    get:
      tags:
        - Direct API
      summary: Health probe
      description: Unauthenticated lightweight probe for the deployed harness-processing Function URL.
      security: []
      responses:
        "200":
          description: Service is healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok
                  method:
                    type: string
                    example: POST
              examples:
                healthy:
                  value:
                    status: ok
                    method: POST

    post:
      tags:
        - Direct API
      summary: Sync direct API (SSE)
      description: |
        Run a synchronous direct agent turn. An idle request owns an SSE stream. When a conversation is busy, `reject` returns 409; an explicitly queued `followup`, `collect`, or `steer` request returns 202 JSON and is observed through its status URL. Steered output remains on the active stream.

        The SSE stream uses the [Vercel AI SDK wire protocol](https://sdk.vercel.ai/docs/ai-sdk-core/streaming#data-stream-protocol). Common event types include `step-start`, `text`, `tool-call`, `tool-result`, `tool-approval-request`, `step-finish`, and `finish`. When `model.output` is configured, a final `structured-output` event carries the parsed JSON value.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DirectApiRequest"
            examples:
              basic:
                summary: Basic request
                value:
                  agentId: agent_abc123
                  eventId: unique-id-for-dedup
                  conversationKey: conversation-identifier
                  events:
                    - role: user
                      content:
                        - type: text
                          text: Hello
              withSystem:
                summary: With ephemeral system event
                value:
                  agentId: agent_abc123
                  eventId: unique-id-for-dedup
                  conversationKey: conversation-identifier
                  events:
                    - role: system
                      content: The next answer should be terse.
                      persist: false
                    - role: user
                      content:
                        - type: text
                          text: What is the capital of France?
              withOverrides:
                summary: With per-run overrides (top-level system and model)
                value:
                  agentId: agent_abc123
                  eventId: unique-id-for-dedup
                  conversationKey: conversation-identifier
                  system:
                    - role: system
                      content: Answer concisely.
                      persist: false
                  model:
                    temperature: 0.3
                    reasoning: high
                  events:
                    - role: user
                      content:
                        - type: text
                          text: Summarize today's plan.
      responses:
        "200":
          description: SSE stream of agent execution
          content:
            text/event-stream:
              schema:
                type: string
                format: binary
              examples:
                streamEvents:
                  summary: Common SSE events
                  value: |
                    event: 0
                    data: {"type":"step-start","messageId":"msg_123"}

                    event: 0
                    data: {"type":"text","text":"Hello"}

                    event: 0
                    data: {"type":"tool-call","toolCallId":"tc_1","toolName":"bash","input":{"shell":"ls"}}

                    event: 0
                    data: {"type":"tool-result","toolCallId":"tc_1","toolName":"bash","output":"file.txt"}

                    event: 0
                    data: {"type":"step-finish","finishReason":"stop","usage":{"promptTokens":100,"completionTokens":50}}

                    event: 0
                    data: {"type":"finish","finishReason":"stop"}
        "202":
          description: Busy-conversation ingress durably accepted without a second SSE stream
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IngressAccepted"
        "409":
          description: Conversation busy in reject mode, or idempotency identity reused with a different payload
        "429":
          description: Per-conversation FIFO capacity exceeded; no ingress was persisted
        "403":
          description: Agent has not opted into public access (secure by default)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                publicAccessDisabled:
                  value:
                    error: "Agent agent_... is not publicly accessible. Enable public access (publicAccess: true) and redeploy, or reach it through an internal endpoint or channel webhook."
                    code: public_access_disabled
        "404":
          description: Direct API disabled (ENABLE_DIRECT_API=false)
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                unauthorized:
                  value:
                    error: Unauthorized

  /async:
    post:
      tags:
        - Direct API
      summary: Async direct API
      description: Durably accept an async direct agent turn and return a status URL. Busy requests use the requested mode; omitted mode defaults to `steer` and joins the active run at its next model boundary.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DirectApiRequest"
            examples:
              basic:
                summary: Basic async request
                value:
                  agentId: agent_abc123
                  eventId: async-unique-id
                  conversationKey: conversation-identifier
                  events:
                    - role: user
                      content:
                        - type: text
                          text: Generate a summary of today's news
      responses:
        "202":
          description: Async ingress durably accepted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IngressAccepted"
              examples:
                accepted:
                  value:
                    eventId: async-unique-id
                    conversationKey: conversation-identifier
                    status: processing
                    requestedMode: steer
                    statusUrl: https://gateway.broods.app/status/async-unique-id?agentId=agent_abc123
        "409":
          description: Conversation busy in reject mode, or idempotency conflict
        "429":
          description: Per-conversation FIFO capacity exceeded
        "403":
          description: Agent has not opted into public access (secure by default)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                publicAccessDisabled:
                  value:
                    error: "Agent agent_... is not publicly accessible. Enable public access (publicAccess: true) and redeploy, or reach it through an internal endpoint or channel webhook."
                    code: public_access_disabled
        "404":
          description: Direct API disabled (ENABLE_DIRECT_API=false)
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                unauthorized:
                  value:
                    error: Unauthorized

  /status/{eventId}:
    get:
      tags:
        - Direct API
      summary: Poll async status
      description: Poll the durable, account-and-agent-scoped ingress envelope. Every accepted request reaches completed, failed, or expired.
      parameters:
        - name: eventId
          in: path
          required: true
          schema:
            type: string
        - name: agentId
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Current job status
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IngressStatus"
              examples:
                processing:
                  summary: Job still running
                  value:
                    eventId: unique-id-for-dedup
                    conversationKey: conversation-identifier
                    status: processing
                awaitingApproval:
                  summary: Tool approval needed
                  value:
                    eventId: unique-id-for-dedup
                    conversationKey: conversation-identifier
                    status: awaiting_approval
                    approvals:
                      - approvalId: approval-123
                        toolCallId: tool-call-456
                        toolName: bash
                        input:
                          shell: rm file.txt
                completed:
                  summary: Job finished
                  value:
                    eventId: unique-id-for-dedup
                    conversationKey: conversation-identifier
                    status: completed
                    result:
                      answer: done
                    response:
                      role: assistant
                      content: done
                failed:
                  summary: Job failed
                  value:
                    eventId: unique-id-for-dedup
                    conversationKey: conversation-identifier
                    status: failed
                    error: Model provider returned 503
        "403":
          description: Deployment-key caller polling an agent that has not opted into public access
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                publicAccessDisabled:
                  value:
                    error: "Agent agent_... is not publicly accessible."
                    code: public_access_disabled
        "404":
          description: Unknown event ID
          content:
            application/json:
              schema:
                type: object
                properties:
                  eventId:
                    type: string
                  status:
                    type: string
              examples:
                notFound:
                  value:
                    eventId: unknown-id
                    status: not_found
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                unauthorized:
                  value:
                    error: Unauthorized

  /async-tools/{resultId}/complete:
    post:
      tags:
        - Direct API
      summary: Complete async tool callback
      description: Compatibility callback for settling one `AsyncToolResult` row through account bearer auth. Platform-managed sandbox jobs use `/sandbox-jobs/{resultId}/complete` with a per-result token.
      parameters:
        - name: resultId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: "#/components/schemas/ToolCompletionSuccess"
                - $ref: "#/components/schemas/ToolCompletionFailure"
            examples:
              success:
                summary: Tool completed
                value:
                  status: completed
                  response:
                    answer: done
                    data:
                      - 1
                      - 2
                      - 3
              failure:
                summary: Tool failed
                value:
                  status: failed
                  error: External service timeout after 30s
      responses:
        "202":
          description: "Result accepted (`status: accepted` when settled, `status: waiting_for_async_tools` with `pendingCount` while siblings are outstanding)"
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  pendingCount:
                    type: integer
              examples:
                accepted:
                  value:
                    status: accepted
                waiting:
                  value:
                    status: waiting_for_async_tools
                    pendingCount: 2
        "404":
          description: Unknown resultId
        "409":
          description: Result already settled
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                unauthorized:
                  value:
                    error: Unauthorized

  /sandbox-jobs/{resultId}/complete:
    post:
      tags:
        - Direct API
      summary: Complete sandbox job callback
      description: Token-authenticated completion callback used by detached sandbox background jobs and detached uploaded tools. Authenticated with the per-job `x-job-token` header minted at launch, not an account secret. Unknown ids and bad tokens both return 404.
      parameters:
        - name: resultId
          in: path
          required: true
          schema:
            type: string
        - name: x-job-token
          in: header
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: "#/components/schemas/ToolCompletionSuccess"
                - $ref: "#/components/schemas/ToolCompletionFailure"
      responses:
        "202":
          description: Result accepted
        "404":
          description: Unknown resultId or invalid token

  /media/{ticket}:
    get:
      tags:
        - Direct API
      summary: Workspace media link
      description: Serves one workspace file to a chat provider that fetches media by URL rather than accepting an upload. `send-image` mints the link; the sealed ticket in the path names the workspace and file and is the only credential, so the route is unauthenticated and carries no account parameter. The link does not expire — it stays good while the file exists, because providers such as Zalo store the URL and re-fetch it every time a viewer opens the picture. Rotating the service secret revokes every issued link. A bad ticket, a deleted workspace and a missing file all answer 404 alike.
      parameters:
        - name: ticket
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: The file, with its content type and an immutable cache header
        "404":
          description: Ticket rejected, or the workspace or file no longer exists
        "413":
          description: File is larger than the 25 MB media limit

  /webhooks/{accountId}/{channelName}:
    post:
      tags:
        - Direct API
      summary: Channel provider webhook
      description: Ingress for provider webhooks (telegram, github, slack, discord, pancake, zalo). This is the production URL form and it is not pinned to a stage — every agent of the account is a candidate, so only `/webhooks/{accountId}/dev/{endpointId}/{channelName}` guarantees one stage. Authentication is provider-native (signature or secret) per channel; the response shape is channel-specific. The URL names no agent — whichever of the account's agents holds credentials that verify the request receives it, and a channel record binds each place to the agent that answers there. See the Channels documentation.
      parameters:
        - name: accountId
          in: path
          required: true
          schema:
            type: string
        - name: channelName
          in: path
          required: true
          schema:
            type: string
            enum: [telegram, github, slack, discord, pancake, zalo]
      responses:
        "200":
          description: Provider-specific acknowledgement
        "401":
          description: Provider authentication failed
        "404":
          description: Unknown account or channel, or no agent holds credentials for it

  /webhooks/{accountId}/dev/{endpointId}/{channelName}:
    post:
      tags:
        - Direct API
      summary: Channel provider webhook for one stage
      description: The same ingress pinned to a single stage. Only agents of the stage `endpointId` names are candidates, so two stages sharing one provider app never receive each other's traffic. `broods dev` prints this URL for any stage that is not production; the bare form above stays production's.
      parameters:
        - name: accountId
          in: path
          required: true
          schema:
            type: string
        - name: endpointId
          in: path
          required: true
          description: The stage's endpoint id, stable across renames and runtime key rotation.
          schema:
            type: string
        - name: channelName
          in: path
          required: true
          schema:
            type: string
            enum: [telegram, github, slack, discord, pancake, zalo]
      responses:
        "200":
          description: Provider-specific acknowledgement
        "401":
          description: Provider authentication failed
        "404":
          description: Unknown account or channel, or no stage of this account is deployed at that endpointId (`unknown_webhook_stage`). An unknown endpointId never falls back to the account-wide credential scan.

  /accounts:
    post:
      tags:
        - Accounts
      summary: Create account
      description: Admin-only endpoint to create a new account. Store `secret` securely — it is not recoverable.
      security:
        - AdminAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - username
              properties:
                username:
                  type: string
                  description: Required human-readable account name
                description:
                  type: string
                  description: Optional purpose or usage note
            examples:
              basic:
                value:
                  username: company-a
              withDescription:
                value:
                  username: company-a
                  description: Company A account
      responses:
        "201":
          description: Account created
          content:
            application/json:
              schema:
                type: object
                properties:
                  account:
                    $ref: "#/components/schemas/Account"
                  secret:
                    type: string
              examples:
                created:
                  value:
                    account:
                      accountId: acct_abc123
                      username: company-a
                      description: Company A account
                    secret: fp_acct_xyz789...
        "401":
          description: Missing or invalid bearer token
        "403":
          description: Bearer token is valid but is not the admin secret

    get:
      tags:
        - Accounts
      summary: List all accounts (admin)
      description: Admin-only endpoint. Requires `AdminAccountSecret` from SST secrets.
      security:
        - AdminAuth: []
      responses:
        "200":
          description: List of accounts
          content:
            application/json:
              schema:
                type: object
                properties:
                  accounts:
                    type: array
                    items:
                      $ref: "#/components/schemas/Account"
              examples:
                list:
                  value:
                    accounts:
                      - accountId: acct_abc123
                        username: company-a
                        description: Company A account
                        status: active
                        createdAt: "2026-05-01T00:00:00.000Z"
                        updatedAt: "2026-05-01T00:00:00.000Z"
                      - accountId: acct_def456
                        username: company-b
                        description: Company B account
                        status: active
                        createdAt: "2026-05-01T00:00:00.000Z"
                        updatedAt: "2026-05-01T00:00:00.000Z"

  /accounts/{accountId}:
    get:
      tags:
        - Accounts
      summary: Get account (admin)
      security:
        - AdminAuth: []
      parameters:
        - name: accountId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Account details
          content:
            application/json:
              schema:
                type: object
                properties:
                  account:
                    $ref: "#/components/schemas/Account"

    patch:
      tags:
        - Accounts
      summary: Update account (admin)
      security:
        - AdminAuth: []
      parameters:
        - name: accountId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                description:
                  type: string
      responses:
        "200":
          description: Account updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  account:
                    $ref: "#/components/schemas/Account"

    delete:
      tags:
        - Accounts
      summary: Delete account (admin)
      description: Deletes the account and cascades cleanup for all account-scoped data (conversations, agents, skills, filesystem objects, async results).
      security:
        - AdminAuth: []
      parameters:
        - name: accountId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Account deleted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteResponse"
              examples:
                deleted:
                  value:
                    deleted: true
                    cleanup:
                      conversationsDeleted: 12
                      processedEventsDeleted: 14
                      asyncAgentResultDeleted: 2
                      asyncToolResultDeleted: 3
                      asyncToolGroupDeleted: 1
                      sandboxReservationDeleted: 2
                      filesystemObjectsDeleted: 8
                      reservedSandboxesReleased: 0
                      agentsDeleted: 1
                      skillObjectsDeleted: 4
                      cronsDeleted: 0
                      accountToolsDeleted: 0

  /accounts/{accountId}/rotate-secret:
    post:
      tags:
        - Accounts
      summary: Rotate account secret (admin)
      security:
        - AdminAuth: []
      parameters:
        - name: accountId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Secret rotated
          content:
            application/json:
              schema:
                type: object
                properties:
                  account:
                    $ref: "#/components/schemas/Account"
                  secret:
                    type: string
              examples:
                rotated:
                  value:
                    account:
                      accountId: acct_abc123
                      username: company-a
                      status: active
                      createdAt: "2026-05-01T00:00:00.000Z"
                      updatedAt: "2026-05-01T00:00:00.000Z"
                    secret: fp_acct_new...

  /v1/account:
    get:
      tags:
        - Accounts
      summary: Get own account
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Account details
          content:
            application/json:
              schema:
                type: object
                properties:
                  account:
                    $ref: "#/components/schemas/Account"

    patch:
      tags:
        - Accounts
      summary: Update own account
      description: Update account metadata only. Runtime config is managed through agent endpoints.
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                description:
                  type: string
            examples:
              updateDescription:
                value:
                  description: Updated account purpose
      responses:
        "200":
          description: Account updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  account:
                    $ref: "#/components/schemas/Account"
              examples:
                updated:
                  value:
                    account:
                      accountId: acct_abc123
                      username: company-a
                      description: Updated account purpose
                      status: active
                      createdAt: "2026-05-01T00:00:00.000Z"
                      updatedAt: "2026-05-02T00:00:00.000Z"

    delete:
      tags:
        - Accounts
      summary: Delete own account
      description: Deletes the authenticated account and cascades cleanup for all account-scoped data.
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Account deleted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteResponse"

  /v1/account/rotate-secret:
    post:
      tags:
        - Accounts
      summary: Rotate own secret
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Secret rotated
          content:
            application/json:
              schema:
                type: object
                properties:
                  account:
                    $ref: "#/components/schemas/Account"
                  secret:
                    type: string
              examples:
                rotated:
                  value:
                    account:
                      accountId: acct_abc123
                      username: company-a
                      status: active
                      createdAt: "2026-05-01T00:00:00.000Z"
                      updatedAt: "2026-05-01T00:00:00.000Z"
                    secret: fp_acct_new...

  /v1/env:
    get:
      tags:
        - Environment Variables
      summary: List account environment variables
      description: Lists variable names and update timestamps for the authenticated account. Secret values are never returned.
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Write-only account environment variable metadata
          content:
            application/json:
              schema:
                type: object
                required: [env]
                properties:
                  env:
                    type: array
                    items:
                      $ref: "#/components/schemas/AccountEnvVar"

  /v1/env/{name}:
    put:
      tags:
        - Environment Variables
      summary: Create or replace an account environment variable
      description: Stores a write-only secret. Existing source-backed agents using `${NAME}` are re-resolved immediately.
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/AccountEnvVarName"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [value]
              properties:
                value:
                  type: string
                  minLength: 1
                  maxLength: 8192
      responses:
        "200":
          description: Variable stored
          content:
            application/json:
              schema:
                type: object
                required: [name]
                properties:
                  name:
                    type: string
    delete:
      tags:
        - Environment Variables
      summary: Delete an account environment variable
      description: Re-resolves source-backed agents; a now-missing placeholder remains literal in stored runtime config.
      security:
        - BearerAuth: []
      parameters:
        - $ref: "#/components/parameters/AccountEnvVarName"
      responses:
        "200":
          description: Deletion result
          content:
            application/json:
              schema:
                type: object
                required: [deleted]
                properties:
                  deleted:
                    type: boolean

  /v1/agents:
    post:
      tags:
        - Agents
      summary: Create agent
      description: Create a new agent under the authenticated account. Agent CRUD is served by the config plane and config is encrypted at rest. The `agentId` in the response is required for all runtime requests.
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
              properties:
                name:
                  type: string
                description:
                  type: string
                  description: Visible to parent agents when allowed as subagent
                config:
                  $ref: "#/components/schemas/AgentConfig"
            examples:
              basic:
                summary: Minimal agent
                value:
                  name: support-agent
                  description: Customer support agent
                  config:
                    provider:
                      google:
                        apiKey: your-api-key
                    model:
                      provider: google
                      modelId: gemini-3-flash
                    agent:
                      system: You are a helpful support assistant.
              withWorkspace:
                summary: Agent referencing a sandbox + workspace and tools
                value:
                  name: research-agent
                  description: Research assistant with web search
                  config:
                    provider:
                      google:
                        apiKey: your-api-key
                    model:
                      provider: google
                      modelId: gemini-3-flash
                      temperature: 0.2
                    agent:
                      system: You are a research assistant. Always cite sources.
                    sandbox: sb_xxx
                    workspaces:
                      - name: notes
                        workspaceId: ws_aaa
                    tools:
                      googleSearch:
                        type: provider
                        id: google.google_search
                        args:
                          searchTypes:
                            webSearch: {}
      responses:
        "201":
          description: Agent created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Agent"
              examples:
                created:
                  value:
                    accountId: acct_abc123
                    agentId: agent_xyz789
                    name: support-agent
                    description: Customer support agent
        "409":
          description: An agent with this name already exists in the account. The response includes the existing agent's id so clients can adopt it instead of duplicating.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  agentId:
                    type: string

    get:
      tags:
        - Agents
      summary: List agents
      description: List config-plane agents for the authenticated account. Returned configs are decrypted server-side and redacted before response.
      security:
        - BearerAuth: []
      responses:
        "200":
          description: List of agents
          content:
            application/json:
              schema:
                type: object
                properties:
                  agents:
                    type: array
                    items:
                      $ref: "#/components/schemas/Agent"

  /v1/agents/{agentId}:
    get:
      tags:
        - Agents
      summary: Get agent
      description: Get one config-plane agent. Returned config is decrypted server-side and redacted before response.
      security:
        - BearerAuth: []
      parameters:
        - name: agentId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Agent details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Agent"

    patch:
      tags:
        - Agents
      summary: Update agent
      description: Config patch is a deep merge against encrypted config-plane storage. Redacted secret placeholders (`********`) preserve existing secrets. Set a config field to `null` to delete it. Set `description` to `null` to clear it. `status` accepts `active` or `disabled` for compatibility; config-plane responses currently report existing agents as `active`.
      security:
        - BearerAuth: []
      parameters:
        - name: agentId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                description:
                  type:
                    - string
                    - "null"
                status:
                  type: string
                  enum:
                    - active
                    - disabled
                config:
                  $ref: "#/components/schemas/AgentConfig"
      responses:
        "200":
          description: Agent updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Agent"
        "409":
          description: Renaming to a name that already exists in the account. The response includes the existing agent's id.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  agentId:
                    type: string

    delete:
      tags:
        - Agents
      summary: Delete agent
      security:
        - BearerAuth: []
      parameters:
        - name: agentId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Agent deleted

  /v1/sandboxes:
    post:
      tags:
        - Sandboxes
      summary: Create sandbox
      description: Create a standalone, account-scoped sandbox config. Reference its `sandboxId` from an agent config via `sandbox`. Config is encrypted at rest (it may carry `envVars`).
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name: { type: string }
                description: { type: string }
                config:
                  type: object
                  properties:
                    provider:
                      {
                        type: string,
                        enum: [sandbox, lambda, e2b, daytona, vercel],
                        default: sandbox,
                        description: "Compute backend. Defaults to sandbox (the workdir backend). On the hosted platform no per-sandbox options are needed; on a self-hosted deployment the workdir node must be reachable via options.workdirUrl (or the WORKDIR_URL env). Set options.workdirUrl + options.apiKey to target your own node.",
                      }
                    network:
                      type: object
                      description: "Egress policy. Defaults to deny-all when omitted."
                      properties:
                        mode:
                          {
                            type: string,
                            enum: [allow-all, deny-all, restricted],
                          }
                        allowDomains:
                          type: array
                          description: "Allowed domains when mode is restricted and the provider supports domain rules."
                          items: { type: string }
                        allowCidrs:
                          type: array
                          description: "Allowed CIDR ranges when mode is restricted and the provider supports CIDR rules."
                          items: { type: string }
                    permissionMode: { type: string, enum: [edit, ask, bypass] }
                    size:
                      {
                        type: string,
                        enum: [tiny, xsmall, small, medium, large],
                        description: "Predefined compute size (vcpu/memory/disk). Drives workdir create-time resources and the dashboard's instance specs; advisory on providers that size natively (MicroVM bakes size into the image; daytona/e2b/vercel size themselves). Defaults to the provider's own default when unset. Free tier: tiny + xsmall.",
                      }
                    snapshot:
                      {
                        type: string,
                        description: "Prebuilt image/snapshot to launch from: a workdir image id/name or a MicroVM image ARN. Unset boots the provider's default base image. Consumed by the self-hosted backends (sandbox/lambda); advisory on daytona/e2b/vercel, which pick images via their own options. The launched-from id is mirrored onto the dashboard instance row.",
                      }
                    persistent:
                      {
                        type: boolean,
                        description: "Reserve one long-lived sandbox per workspace (reconnect across calls, background jobs, packages persist). For lambda this reserves a snapshot-resumable MicroVM (suspend/resume on idle, 8h max).",
                      }
                    lifecycle:
                      type: object
                      description: "Idle/expiry policy when persistent. Requires persistent: true."
                      properties:
                        idleTimeoutSeconds:
                          {
                            type: integer,
                            description: "scale down / stop after this idle (default 900)",
                          }
                        maxLifetimeSeconds:
                          {
                            type: integer,
                            description: "hard-expiry backstop from creation (default 7 days)",
                          }
                    onCreate:
                      type: array
                      description: "Persistent-only shell commands run once on first create."
                      items: { type: string }
                    onResume:
                      type: array
                      description: "Persistent-only shell commands run on every resume/acquire."
                      items: { type: string }
                    runtimes:
                      type: array
                      items: { type: string, enum: [bash, python, node] }
                    timeout:
                      {
                        type: integer,
                        description: "per-call seconds (max 600 for every provider)",
                      }
                    memoryLimit:
                      {
                        type: integer,
                        description: "MB; bounded for lambda MicroVM (max 8192), operator-sized for other providers",
                      }
                    outputLimitBytes: { type: integer }
                    envVars:
                      { type: object, additionalProperties: { type: string } }
                    options:
                      {
                        type: object,
                        description: "Provider-specific knobs (e.g. mountAwsS3Buckets, workspaceRoot).",
                      }
            examples:
              lambda:
                value:
                  name: default
                  config:
                    {
                      provider: lambda,
                      network: { mode: allow-all },
                      permissionMode: ask,
                    }
              persistentSandbox:
                value:
                  name: reserved
                  config:
                    provider: sandbox
                    size: small
                    snapshot: img_curated_python
                    network: { mode: allow-all }
                    persistent: true
                    permissionMode: bypass
                    lifecycle: { idleTimeoutSeconds: 1800 }
                    options: { mountAwsS3Buckets: true }
              vercel:
                value:
                  name: vercel
                  config:
                    provider: vercel
                    network:
                      {
                        mode: restricted,
                        allowDomains: [api.example.com],
                        allowCidrs: [10.0.0.0/8],
                      }
                    persistent: true
                    permissionMode: bypass
                    onCreate: ["npm install"]
      responses:
        "201": { description: Sandbox created }
    get:
      tags: [Sandboxes]
      summary: List sandboxes
      security:
        - BearerAuth: []
      responses:
        "200": { description: List of sandboxes }

  /v1/sandboxes/{sandboxId}:
    get:
      tags: [Sandboxes]
      summary: Get sandbox
      security: [{ BearerAuth: [] }]
      parameters:
        - {
            name: sandboxId,
            in: path,
            required: true,
            schema: { type: string },
          }
      responses:
        "200": { description: Sandbox }
        "404": { description: Not found }
    patch:
      tags: [Sandboxes]
      summary: Update sandbox
      security: [{ BearerAuth: [] }]
      parameters:
        - {
            name: sandboxId,
            in: path,
            required: true,
            schema: { type: string },
          }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name: { type: string }
                description: { type: string }
                config:
                  type: object
                  description: Full replacement sandbox config. Uses the same shape as create.
      responses:
        "200": { description: Updated }
    delete:
      tags: [Sandboxes]
      summary: Delete sandbox
      security: [{ BearerAuth: [] }]
      parameters:
        - {
            name: sandboxId,
            in: path,
            required: true,
            schema: { type: string },
          }
      responses:
        "200": { description: Deleted }

  /v1/sandboxes/{sandboxId}/suspend:
    post:
      tags: [Sandboxes]
      summary: Suspend sandbox instance
      description: Suspends a persistent sandbox reservation. The `reservationKey` must belong to this account and sandbox config.
      security: [{ BearerAuth: [] }]
      parameters:
        - {
            name: sandboxId,
            in: path,
            required: true,
            schema: { type: string },
          }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [reservationKey]
              properties:
                reservationKey: { type: string }
      responses:
        "200": { description: Suspended }
        "403":
          {
            description: Reservation does not belong to this account or sandbox config,
          }
        "409": { description: Provider does not support suspend }

  /v1/sandboxes/{sandboxId}/resume:
    post:
      tags: [Sandboxes]
      summary: Resume sandbox instance
      description: Resumes a persistent sandbox reservation. The `reservationKey` must belong to this account and sandbox config.
      security: [{ BearerAuth: [] }]
      parameters:
        - {
            name: sandboxId,
            in: path,
            required: true,
            schema: { type: string },
          }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [reservationKey]
              properties:
                reservationKey: { type: string }
      responses:
        "200": { description: Running }
        "403":
          {
            description: Reservation does not belong to this account or sandbox config,
          }
        "409": { description: Provider does not support resume }

  /v1/sandboxes/{sandboxId}/terminate:
    post:
      tags: [Sandboxes]
      summary: Terminate sandbox instance
      description: Terminates a persistent sandbox reservation and removes its live-instance registry row. The `reservationKey` must belong to this account and sandbox config.
      security: [{ BearerAuth: [] }]
      parameters:
        - {
            name: sandboxId,
            in: path,
            required: true,
            schema: { type: string },
          }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [reservationKey]
              properties:
                reservationKey: { type: string }
      responses:
        "200": { description: Terminated }
        "403":
          {
            description: Reservation does not belong to this account or sandbox config,
          }
        "409": { description: Provider does not support terminate }

  /v1/sandboxes/{sandboxId}/snapshot:
    post:
      tags: [Sandboxes]
      summary: Snapshot sandbox instance
      description: Creates a reusable image from a persistent sandbox reservation when the provider supports snapshots. Currently supported by the self-hosted workdir `sandbox` provider.
      security: [{ BearerAuth: [] }]
      parameters:
        - {
            name: sandboxId,
            in: path,
            required: true,
            schema: { type: string },
          }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [reservationKey, name]
              properties:
                reservationKey: { type: string }
                name: { type: string }
      responses:
        "200": { description: Snapshot active }
        "403":
          {
            description: Reservation does not belong to this account or sandbox config,
          }
        "409": { description: Provider does not support snapshot }

  /v1/sandboxes/{sandboxId}/terminal:
    post:
      tags: [Sandboxes]
      summary: Mint a live terminal ticket
      description: >
        Mints a short-lived sealed ticket for an interactive PTY session on a persistent
        sandbox reservation (self-hosted workdir `sandbox` and AWS MicroVM `lambda`
        providers). A suspended instance is resumed first. The opaque `token` is passed
        to the public gateway's terminal WebSocket (`websocketPath` + `?token=`), which
        bridges the browser to the sandbox's in-guest TTY; the provider credential never
        reaches the client. MicroVMs reserved before shell ingress was attached at launch
        answer 409 until terminated and re-reserved.
      security: [{ BearerAuth: [] }]
      parameters:
        - {
            name: sandboxId,
            in: path,
            required: true,
            schema: { type: string },
          }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [reservationKey]
              properties:
                reservationKey: { type: string }
      responses:
        "200":
          description: Sealed terminal ticket
          content:
            application/json:
              schema:
                type: object
                properties:
                  token: { type: string }
                  expiresAt: { type: number }
                  websocketPath: { type: string }
        "403":
          {
            description: Reservation does not belong to this account or sandbox config,
          }
        "404": { description: No reserved instance for this reservation key }
        "409":
          {
            description: Provider does not support a live terminal,
            or the MicroVM was launched without shell ingress,
          }

  /v1/workspaces:
    post:
      tags:
        - Workspaces
      summary: Create workspace
      description: Create a standalone, account-scoped workspace config (persistent S3 filesystem). Reference its `workspaceId` from an agent config via `workspaces[].workspaceId`. Agents sharing a `workspaceId` share files.
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name: { type: string }
                description: { type: string }
                config:
                  type: object
                  properties:
                    storage:
                      type: object
                      properties:
                        provider: { type: string, enum: [s3] }
                    isolation:
                      type: boolean
                      description: Enables hierarchical workspace folders. Omit or set false to share the workspace root.
                    harness:
                      type: object
                      description: Named harness features, each defaulting to enabled. No top-level enabled flag.
                      properties:
                        workspace:
                          type: object
                          description: The injected <workspace> guidance prompt. Belongs to the default Broods loop, so an agent that sets harness never receives it regardless of this value.
                          properties:
                            enabled: { type: boolean }
                        memory:
                          type: object
                          description: Structured memory (memory_save + memory/MEMORY.md index loading + <memory> prompt).
                          properties:
                            enabled: { type: boolean }
            examples:
              notes:
                value:
                  name: notes
                  config: { storage: { provider: s3 }, isolation: true }
      responses:
        "201": { description: Workspace created }
    get:
      tags: [Workspaces]
      summary: List workspaces
      security:
        - BearerAuth: []
      responses:
        "200": { description: List of workspaces }

  /v1/workspaces/{workspaceId}:
    get:
      tags: [Workspaces]
      summary: Get workspace
      security: [{ BearerAuth: [] }]
      parameters:
        - {
            name: workspaceId,
            in: path,
            required: true,
            schema: { type: string },
          }
      responses:
        "200": { description: Workspace }
        "404": { description: Not found }
    patch:
      tags: [Workspaces]
      summary: Update workspace
      security: [{ BearerAuth: [] }]
      parameters:
        - {
            name: workspaceId,
            in: path,
            required: true,
            schema: { type: string },
          }
      responses:
        "200": { description: Updated }
    delete:
      tags: [Workspaces]
      summary: Delete workspace
      security: [{ BearerAuth: [] }]
      parameters:
        - {
            name: workspaceId,
            in: path,
            required: true,
            schema: { type: string },
          }
      responses:
        "200": { description: Deleted }

  /v1/workspaces/{workspaceId}/files:
    get:
      tags: [Workspaces]
      summary: List workspace files or create a download URL
      description: Lists the authoritative S3 namespace mounted by the workspace. When `path` is supplied, returns a short-lived download URL for that file.
      security: [{ BearerAuth: [] }]
      parameters:
        - {
            name: workspaceId,
            in: path,
            required: true,
            schema: { type: string },
          }
        - { name: path, in: query, required: false, schema: { type: string } }
      responses:
        "200": { description: Workspace file list or download URL }
        "404": { description: Workspace or file not found }
    post:
      tags: [Workspaces]
      summary: Upload a workspace file
      description: Uploads or replaces one file. Dashboard-proxied uploads are limited to 512 KiB so the base64 request remains within Convex action limits.
      security: [{ BearerAuth: [] }]
      parameters:
        - {
            name: workspaceId,
            in: path,
            required: true,
            schema: { type: string },
          }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [path, contentBase64]
              properties:
                path: { type: string }
                contentBase64: { type: string, format: byte }
                contentType: { type: string }
      responses:
        "201": { description: File uploaded }
    patch:
      tags: [Workspaces]
      summary: Rename a workspace file or folder
      security: [{ BearerAuth: [] }]
      parameters:
        - {
            name: workspaceId,
            in: path,
            required: true,
            schema: { type: string },
          }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [path, newPath]
              properties:
                path: { type: string }
                newPath: { type: string }
      responses:
        "200": { description: File or folder renamed }
    delete:
      tags: [Workspaces]
      summary: Delete a workspace file or folder
      security: [{ BearerAuth: [] }]
      parameters:
        - {
            name: workspaceId,
            in: path,
            required: true,
            schema: { type: string },
          }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [path]
              properties:
                path: { type: string }
      responses:
        "200": { description: File or folder deleted }

  /v1/workspaces/{workspaceId}/download-links:
    post:
      tags: [Workspaces]
      summary: Create a shareable download link for a workspace file
      description: |
        Mints a capability token for one file and returns the path to redeem it.
        Prefer this over the presigned URL from `GET .../files?path=`: that URL is
        ~1.4 KB, expires in five minutes, and carries AWS signature material whose
        `+` characters many chat clients corrupt. A download link is short, URL-safe
        and lives as long as you ask for.

        Join `downloadPath` to the same base URL you called here — the service sits
        behind the gateway, which strips Host, so it cannot know its public origin.
      security: [{ BearerAuth: [] }]
      parameters:
        - {
            name: workspaceId,
            in: path,
            required: true,
            schema: { type: string },
          }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [path]
              properties:
                path: { type: string }
                expiresInSeconds:
                  type: integer
                  minimum: 1
                  maximum: 2592000
                  default: 86400
      responses:
        "200":
          description: Download link created
          content:
            application/json:
              schema:
                type: object
                properties:
                  token: { type: string }
                  downloadPath: { type: string, example: /v1/downloads/abc123 }
                  path: { type: string }
                  expiresInSeconds: { type: integer }
        "400": { description: Invalid path or expiresInSeconds }
        "404": { description: Workspace or file not found }

  /v1/downloads/{token}:
    get:
      tags: [Workspaces]
      summary: Redeem a download link
      description: |
        Redirects to a freshly minted presigned S3 URL. Unauthenticated by design —
        the token is the whole credential — so treat the link as a secret. Unknown,
        expired and revoked tokens all answer 404 so the route cannot be used to
        probe for files.
      security: []
      parameters:
        - { name: token, in: path, required: true, schema: { type: string } }
      responses:
        "302": { description: Redirect to the file }
        "404": { description: Unknown, expired or revoked token }

  /v1/tools:
    post:
      tags: [Tools]
      summary: Create uploaded custom tool
      description: >-
        Upload an already-bundled JavaScript tool bundle and model-facing manifest.
        A tool belongs to one project stage, so `project` and `stage`
        are required; two stages may each define a tool of the same name.
      security: [{ BearerAuth: [] }]
      parameters:
        - { name: project, in: query, required: true, schema: { type: string } }
        - { name: stage, in: query, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AccountToolCreate"
      responses:
        "201":
          description: Tool created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountTool"
        "400": { description: Missing project or stage }
        "404": { description: Project or stage not found }
    get:
      tags: [Tools]
      summary: List uploaded custom tools
      description: Lists the tools of one project stage. Both query parameters are required.
      security: [{ BearerAuth: [] }]
      parameters:
        - { name: project, in: query, required: true, schema: { type: string } }
        - { name: stage, in: query, required: true, schema: { type: string } }
      responses:
        "200":
          description: Tool list
          content:
            application/json:
              schema:
                type: object
                properties:
                  tools:
                    type: array
                    items:
                      $ref: "#/components/schemas/AccountTool"
        "400": { description: Missing project or stage }
        "404": { description: Project or stage not found }

  /v1/tools/{toolId}:
    get:
      tags: [Tools]
      summary: Get uploaded custom tool
      security: [{ BearerAuth: [] }]
      parameters:
        - { name: toolId, in: path, required: true, schema: { type: string } }
      responses:
        "200":
          description: Tool
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountTool"
        "404": { description: Not found }
    patch:
      tags: [Tools]
      summary: Update uploaded custom tool
      security: [{ BearerAuth: [] }]
      parameters:
        - { name: toolId, in: path, required: true, schema: { type: string } }
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AccountToolUpdate"
      responses:
        "200":
          description: Updated tool
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountTool"
    delete:
      tags: [Tools]
      summary: Delete uploaded custom tool
      security: [{ BearerAuth: [] }]
      parameters:
        - { name: toolId, in: path, required: true, schema: { type: string } }
      responses:
        "200": { description: Deleted }

  /v1/policies:
    post:
      tags: [Policies]
      summary: Create agent policy
      description: Create a reusable structured policy for runtime authorization decisions.
      security: [{ BearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AgentPolicyCreate"
      responses:
        "201":
          description: Policy created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentPolicy"
    get:
      tags: [Policies]
      summary: List agent policies
      security: [{ BearerAuth: [] }]
      responses:
        "200":
          description: Policy list
          content:
            application/json:
              schema:
                type: object
                properties:
                  policies:
                    type: array
                    items:
                      $ref: "#/components/schemas/AgentPolicy"

  /v1/policies/{policyId}:
    get:
      tags: [Policies]
      summary: Get agent policy
      security: [{ BearerAuth: [] }]
      parameters:
        - { name: policyId, in: path, required: true, schema: { type: string } }
      responses:
        "200":
          description: Policy
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentPolicy"
        "404": { description: Not found }
    patch:
      tags: [Policies]
      summary: Update agent policy
      security: [{ BearerAuth: [] }]
      parameters:
        - { name: policyId, in: path, required: true, schema: { type: string } }
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AgentPolicyUpdate"
      responses:
        "200":
          description: Updated policy
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentPolicy"
    delete:
      tags: [Policies]
      summary: Delete agent policy
      security: [{ BearerAuth: [] }]
      parameters:
        - { name: policyId, in: path, required: true, schema: { type: string } }
      responses:
        "200": { description: Deleted }
        "404": { description: Not found }

  /v1/channels:
    post:
      tags: [Channels]
      summary: Create channel record
      description: >-
        Bind one real chat channel — a Slack channel, a Discord channel, a
        repository — to an agent. One active record per `(platform, externalId)`.
      security: [{ BearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ChannelRecordCreate"
      responses:
        "201":
          description: Channel created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChannelRecord"
    get:
      tags: [Channels]
      summary: List channel records
      security: [{ BearerAuth: [] }]
      responses:
        "200":
          description: Channel list
          content:
            application/json:
              schema:
                type: object
                properties:
                  channels:
                    type: array
                    items:
                      $ref: "#/components/schemas/ChannelRecord"

  /v1/channels/{channelId}:
    get:
      tags: [Channels]
      summary: Get channel record
      security: [{ BearerAuth: [] }]
      parameters:
        - {
            name: channelId,
            in: path,
            required: true,
            schema: { type: string },
          }
      responses:
        "200":
          description: Channel
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChannelRecord"
        "404": { description: Not found }
    patch:
      tags: [Channels]
      summary: Update channel record
      security: [{ BearerAuth: [] }]
      parameters:
        - {
            name: channelId,
            in: path,
            required: true,
            schema: { type: string },
          }
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ChannelRecordUpdate"
      responses:
        "200":
          description: Updated channel
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChannelRecord"
        "404": { description: Not found }
    delete:
      tags: [Channels]
      summary: Delete channel record
      security: [{ BearerAuth: [] }]
      parameters:
        - {
            name: channelId,
            in: path,
            required: true,
            schema: { type: string },
          }
      responses:
        "200": { description: Deleted }
        "404": { description: Not found }

  /v1/skills:
    post:
      tags:
        - Skills
      summary: Create skill
      description: Upload a skill. Skills are stored in S3 under `<accountId>/<skill-name>`. Every bundle must include a root `SKILL.md` with `name` and `description` YAML frontmatter.
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - source
              properties:
                source:
                  type: string
                  enum: [json, files, github]
                name:
                  type: string
                  description: Required for json source
                description:
                  type: string
                  description: Required for json source
                content:
                  type: string
                  description: Skill content (for json source)
                files:
                  type: array
                  description: Skill bundle files for files source. Must include root SKILL.md.
                  items:
                    type: object
                    required:
                      - path
                      - contentBase64
                    properties:
                      path:
                        type: string
                      contentBase64:
                        type: string
                      contentType:
                        type: string
                url:
                  type: string
                  description: GitHub tree URL for github source
            examples:
              json:
                value:
                  source: json
                  name: support-flow
                  description: Handles support triage
                  content: "# Support Flow\n\nClassify urgency, product area, and next action."
      responses:
        "201":
          description: Skill created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Skill"
              examples:
                created:
                  value:
                    path: acct_abc123/support-flow
                    name: support-flow
                    description: Handles support triage

    get:
      tags:
        - Skills
      summary: List skills
      security:
        - BearerAuth: []
      responses:
        "200":
          description: List of skills
          content:
            application/json:
              schema:
                type: object
                properties:
                  skills:
                    type: array
                    items:
                      $ref: "#/components/schemas/Skill"

  /v1/skills/{skillName}:
    get:
      tags:
        - Skills
      summary: Get skill
      security:
        - BearerAuth: []
      parameters:
        - name: skillName
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Skill details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Skill"

    put:
      tags:
        - Skills
      summary: Update skill
      security:
        - BearerAuth: []
      parameters:
        - name: skillName
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - source
              properties:
                source:
                  type: string
                  enum: [json, files, github]
                name:
                  type: string
                  description: Required for json source
                description:
                  type: string
                  description: Required for json source
                content:
                  type: string
                  description: Skill content for json source
                files:
                  type: array
                  description: Replacement skill bundle files for files source. Must include root SKILL.md.
                  items:
                    type: object
                    required:
                      - path
                      - contentBase64
                    properties:
                      path:
                        type: string
                      contentBase64:
                        type: string
                      contentType:
                        type: string
                url:
                  type: string
                  description: GitHub tree URL for github source
      responses:
        "200":
          description: Skill updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Skill"

    delete:
      tags:
        - Skills
      summary: Delete skill
      security:
        - BearerAuth: []
      parameters:
        - name: skillName
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Skill deleted

  /v1/crons:
    post:
      tags:
        - Cron Jobs
      summary: Create cron job
      description: Create a scheduled agent run.
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CronCreate"
            examples:
              agentRun:
                value:
                  name: Daily maintenance
                  agentId: agent_maintainer
                  conversationKey: cron:daily-maintenance
                  input: Run daily maintenance.
                  scheduleExpression: cron(0 8 * * ? *)
                  timezone: Europe/Amsterdam
      responses:
        "201":
          description: Cron job created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Cron"
        "503":
          description: Cron jobs unavailable

    get:
      tags:
        - Cron Jobs
      summary: List cron jobs
      security:
        - BearerAuth: []
      responses:
        "200":
          description: List of cron jobs
          content:
            application/json:
              schema:
                type: object
                properties:
                  crons:
                    type: array
                    items:
                      $ref: "#/components/schemas/Cron"

  /v1/crons/{cronId}:
    get:
      tags:
        - Cron Jobs
      summary: Get cron job
      security:
        - BearerAuth: []
      parameters:
        - name: cronId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Cron job details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Cron"

    patch:
      tags:
        - Cron Jobs
      summary: Update cron job
      security:
        - BearerAuth: []
      parameters:
        - name: cronId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CronPatch"
      responses:
        "200":
          description: Cron job updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Cron"

    delete:
      tags:
        - Cron Jobs
      summary: Delete cron job
      security:
        - BearerAuth: []
      parameters:
        - name: cronId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Cron job deleted

  /v1/crons/{cronId}/runs:
    get:
      tags:
        - Cron Jobs
      summary: List cron run history
      description: Run history for a cron job, newest first. Returns an empty list when the cron job does not exist.
      security:
        - BearerAuth: []
      parameters:
        - name: cronId
          in: path
          required: true
          schema:
            type: string
        - name: limit
          in: query
          required: false
          description: Maximum number of runs to return.
          schema:
            type: integer
      responses:
        "200":
          description: Cron run history
          content:
            application/json:
              schema:
                type: object
                properties:
                  runs:
                    type: array
                    items:
                      $ref: "#/components/schemas/CronRun"

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: Account secret obtained from account creation or rotation
    AdminAuth:
      type: http
      scheme: bearer
      description: AdminAccountSecret from SST secrets

  parameters:
    AccountEnvVarName:
      name: name
      in: path
      required: true
      schema:
        type: string
        pattern: "^[A-Z][A-Z0-9_]*$"
        maxLength: 64

  schemas:
    AccountEnvVar:
      type: object
      required: [name, updatedAt]
      properties:
        name:
          type: string
        updatedAt:
          type: number

    DirectApiRequest:
      type: object
      required:
        - agentId
        - eventId
        - conversationKey
        - events
      properties:
        agentId:
          type: string
          description: Selects the account-owned agent config to run
        eventId:
          type: string
          description: Used for account-scoped deduplication
        conversationKey:
          type: string
          description: Selects the account-scoped persisted direct conversation
        mode:
          type: string
          enum: [reject, followup, collect, steer]
          default: steer
          description: Busy-conversation behavior. When omitted, steer combines the contiguous FIFO steer prefix and injects it at the next AI SDK step boundary; it falls back to followup if the active run has no boundary left.
        idempotencyKey:
          type: string
          description: Stable retry identity scoped to account, agent, and conversation. Defaults to eventId and remains bound for the seven-day status window.
        events:
          type: array
          description: Vercel AI SDK-style messages
          items:
            $ref: "#/components/schemas/Message"
        system:
          oneOf:
            - $ref: "#/components/schemas/SystemRunEvent"
            - type: array
              items:
                $ref: "#/components/schemas/SystemRunEvent"
          description: >-
            One-turn Vercel AI SDK-style system message event(s), appended last
            with highest priority. Same lifetime as a direct `events` entry with
            `persist: false`.
        model:
          $ref: "#/components/schemas/RunModelOverrides"

    RunModelOverrides:
      type: object
      description: >-
        Per-run model setting overrides, merged onto `config.model` for one
        invocation only. Accepts standard Vercel AI SDK call settings
        (temperature, topP, topK, maxOutputTokens, frequencyPenalty,
        presencePenalty, seed, stopSequences, reasoning) and provider-specific
        `providerOptions`, the same shape used by `config.model`. Prefer the
        provider-agnostic `reasoning` level (`provider-default | none | minimal
        | low | medium | high | xhigh`) over per-provider reasoning settings in
        `providerOptions`; when both are set the provider-specific setting wins.
        The reserved keys `provider`, `modelId`, `output`, and `apiKey` are
        rejected so a request cannot swap the model, provider, structured output
        contract, or credentials.
      example:
        temperature: 0.3
        maxOutputTokens: 4096
        reasoning: high

    Message:
      type: object
      required:
        - role
        - content
      properties:
        role:
          type: string
          enum: [user, system, tool]
          description: "System events must use `persist: false` and are only supported on the direct API path"
        content:
          oneOf:
            - type: string
            - type: array
              items:
                $ref: "#/components/schemas/ContentBlock"
        persist:
          type: boolean
          description: Must be `false` for system events. Request-local, not stored in Convex.

    SystemRunEvent:
      type: object
      required:
        - role
        - content
      properties:
        role:
          type: string
          enum: [system]
        content:
          type: string
          example: Answer concisely.
        providerOptions:
          type: object
          additionalProperties: true
          description: Provider-specific system-message options such as prompt caching metadata.
        persist:
          type: boolean
          enum: [false]
          description: Optional marker matching direct ephemeral system events.

    ContentBlock:
      type: object
      discriminator:
        propertyName: type
      oneOf:
        - $ref: "#/components/schemas/TextContent"
        - $ref: "#/components/schemas/ImageContent"
        - $ref: "#/components/schemas/FileContent"
        - $ref: "#/components/schemas/ToolCallContent"
        - $ref: "#/components/schemas/ToolResultContent"
        - $ref: "#/components/schemas/ReasoningContent"
        - $ref: "#/components/schemas/SourceUrlContent"
        - $ref: "#/components/schemas/SourceDocumentContent"
        - $ref: "#/components/schemas/ToolApprovalRequestContent"
        - $ref: "#/components/schemas/ToolApprovalResponseContent"

    TextContent:
      type: object
      required:
        - type
        - text
      properties:
        type:
          type: string
          example: text
        text:
          type: string
          example: Hello

    ImageContent:
      type: object
      required:
        - type
        - image
      properties:
        type:
          type: string
          example: image
        image:
          type: string
          description: Base64-encoded image data, URL, or File reference
        mimeType:
          type: string
          description: MIME type of the image (e.g., `image/png`, `image/jpeg`)

    FileContent:
      type: object
      required:
        - type
        - data
      properties:
        type:
          type: string
          example: file
        data:
          type: string
          description: Base64-encoded file data, URL, or File reference
        mimeType:
          type: string
          description: MIME type of the file
        filename:
          type: string

    ToolCallContent:
      type: object
      required:
        - type
        - toolCallId
        - toolName
        - input
      properties:
        type:
          type: string
          example: tool-call
        toolCallId:
          type: string
        toolName:
          type: string
        input:
          type: object
          description: Tool input arguments as generated by the model

    ToolResultContent:
      type: object
      required:
        - type
        - toolCallId
        - toolName
        - output
      properties:
        type:
          type: string
          example: tool-result
        toolCallId:
          type: string
        toolName:
          type: string
        output:
          description: Tool execution result. Can be any JSON value.
        isError:
          type: boolean

    ReasoningContent:
      type: object
      required:
        - type
        - reasoning
      properties:
        type:
          type: string
          example: reasoning
        reasoning:
          type: string
          description: Model's internal reasoning trace (not shown to end users)

    SourceUrlContent:
      type: object
      required:
        - type
        - source
      properties:
        type:
          type: string
          example: source-url
        source:
          type: object
          properties:
            sourceType:
              type: string
              example: url
            url:
              type: string
            title:
              type: string

    SourceDocumentContent:
      type: object
      required:
        - type
        - source
      properties:
        type:
          type: string
          example: source-document
        source:
          type: object
          properties:
            sourceType:
              type: string
              example: document
            documentId:
              type: string
            title:
              type: string
            mediaType:
              type: string

    ToolApprovalRequestContent:
      type: object
      required:
        - type
        - approvalId
        - toolCallId
        - toolName
        - input
      properties:
        type:
          type: string
          example: tool-approval-request
        approvalId:
          type: string
        toolCallId:
          type: string
        toolName:
          type: string
        input:
          type: object
          description: Tool input awaiting user approval

    ToolApprovalResponseContent:
      type: object
      required:
        - type
        - approvalId
        - approved
      properties:
        type:
          type: string
          example: tool-approval-response
        approvalId:
          type: string
          description: Required to match the decision to the pending tool call
        approved:
          type: boolean
          description: Set to false to deny the tool execution
        reason:
          type: string
          description: Reason for approval or denial

    IngressAccepted:
      type: object
      required: [eventId, conversationKey, status, requestedMode, statusUrl]
      properties:
        eventId:
          type: string
        conversationKey:
          type: string
        status:
          type: string
          enum: [accepted, queued, applied, processing]
        requestedMode:
          type: string
          enum: [reject, followup, collect, steer]
        statusUrl:
          type: string
          format: uri

    IngressStatus:
      type: object
      required: [eventId, conversationKey, status]
      properties:
        eventId:
          type: string
        conversationKey:
          type: string
        status:
          type: string
          enum:
            [
              accepted,
              queued,
              applied,
              processing,
              awaiting_approval,
              completed,
              failed,
              expired,
            ]
        requestedMode:
          type: string
          enum: [reject, followup, collect, steer]
          description: Resolved mode for durable ingress. Absent only for status records produced outside ingress coordination, such as an independently running subagent result.
        appliedMode:
          type: string
          enum: [reject, followup, collect, steer]
        appliedToEventId:
          type: string
        result: {}
        response:
          description: Final response payload from the async agent record, present once the run completes.
        approvals:
          type: array
          description: Pending tool approvals while status is awaiting_approval.
          items:
            $ref: "#/components/schemas/PendingToolApproval"
        error:
          type: string
        stoppedByUser:
          type: boolean
          description: True when a `failed` status was a deliberate /stop rather than a fault.

    PendingToolApproval:
      type: object
      required: [approvalId, toolCallId, toolName]
      properties:
        approvalId:
          type: string
        toolCallId:
          type: string
        toolName:
          type: string
        input:
          description: Tool input awaiting user approval

    ToolCompletionSuccess:
      type: object
      required:
        - status
        - response
      properties:
        status:
          type: string
        response:
          type: object

    ToolCompletionFailure:
      type: object
      required:
        - status
        - error
      properties:
        status:
          type: string
        error:
          type: string

    Error:
      type: object
      properties:
        error:
          type: string

    Account:
      type: object
      properties:
        accountId:
          type: string
        username:
          type: string
        description:
          type: string
        status:
          type: string
          enum: [active, disabled]
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    Agent:
      type: object
      properties:
        accountId:
          type: string
        agentId:
          type: string
        name:
          type: string
        description:
          type: string
        status:
          type: string
          enum: [active, disabled]
        config:
          $ref: "#/components/schemas/AgentConfig"
          description: Redacted — secret-like fields are returned as `********`
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    Skill:
      type: object
      properties:
        path:
          type: string
        name:
          type: string
        description:
          type: string
        files:
          type: array
          description: Relative file paths in the bundle (returned by create and get)
          items:
            type: string

    Cron:
      type: object
      properties:
        accountId:
          type: string
        cronId:
          type: string
        name:
          type: string
        description:
          type: string
        agentId:
          type: string
          description: Account-owned agent to run
        events:
          type: array
          description: Canonical stored model-message list delivered to the agent on each invocation.
          items:
            type: object
        conversationKey:
          type: string
          description: Optional public conversation key. Defaults to `cron:{cronId}`.
        scheduleExpression:
          type: string
          description: EventBridge Scheduler expression, such as `cron(...)`, `rate(...)`, or `at(...)`
        timezone:
          type: string
        status:
          type: string
          enum: [active, paused]
        createdAt:
          type: string
        updatedAt:
          type: string
        lastInvokedAt:
          type: string
        lastStatus:
          type: string
          enum: [started, completed, failed]
        lastError:
          type: string

    CronRun:
      type: object
      description: One recorded execution of a cron job.
      properties:
        accountId:
          type: string
        cronId:
          type: string
        runId:
          type: string
        eventId:
          type: string
        conversationKey:
          type: string
        status:
          type: string
          enum: [started, completed, failed]
        result:
          description: Agent run result payload, present on completed runs.
        error:
          type: string
        startedAt:
          type: string
        completedAt:
          type: string

    CronCreate:
      type: object
      description: Provide exactly one of `input` or `events`, mirroring the agent run input.
      required:
        - name
        - agentId
        - scheduleExpression
      properties:
        name:
          type: string
        description:
          type: string
        agentId:
          type: string
          example: agent_maintainer
        input:
          type: string
          description: Shorthand instruction wrapped into a single user message.
          example: Run daily maintenance.
        events:
          type: array
          description: Full model-message list, used instead of `input` for multimodal or multi-message payloads.
          items:
            type: object
        conversationKey:
          type: string
          example: cron:daily-maintenance
        scheduleExpression:
          type: string
          example: cron(0 8 * * ? *)
        timezone:
          type: string
          example: Europe/Amsterdam
        status:
          type: string
          enum: [active, paused]

    CronPatch:
      type: object
      properties:
        name:
          type: string
        description:
          oneOf:
            - type: string
            - type: "null"
        agentId:
          type: string
        input:
          type: string
        events:
          type: array
          items:
            type: object
        conversationKey:
          oneOf:
            - type: string
            - type: "null"
        scheduleExpression:
          type: string
        timezone:
          oneOf:
            - type: string
            - type: "null"
        status:
          type: string
          enum: [active, paused]

    DeleteResponse:
      type: object
      properties:
        deleted:
          type: boolean
        cleanup:
          type: object
          properties:
            conversationsDeleted:
              type: integer
            processedEventsDeleted:
              type: integer
            asyncAgentResultDeleted:
              type: integer
            asyncToolResultDeleted:
              type: integer
            asyncToolGroupDeleted:
              type: integer
            harnessSessionDeleted:
              type: integer
            sandboxReservationDeleted:
              type: integer
            filesystemObjectsDeleted:
              type: integer
            reservedSandboxesReleased:
              type: integer
            agentsDeleted:
              type: integer
            skillObjectsDeleted:
              type: integer
            cronsDeleted:
              type: integer
            accountToolsDeleted:
              type: integer

    AgentConfig:
      type: object
      description: Agent runtime configuration passed via agent create/update. Config patch is a deep merge.
      properties:
        provider:
          $ref: "#/components/schemas/ProviderConfig"
        model:
          $ref: "#/components/schemas/ModelConfig"
        agent:
          $ref: "#/components/schemas/AgentRuntimeConfig"
        harness:
          $ref: "#/components/schemas/HarnessConfig"
        hooks:
          $ref: "#/components/schemas/HooksConfig"
        skills:
          $ref: "#/components/schemas/SkillsConfig"
        subagent:
          $ref: "#/components/schemas/SubagentConfig"
        scheduler:
          $ref: "#/components/schemas/SchedulerConfig"
        policies:
          type: array
          items: { type: string }
          description: >-
            Policy ids that gate this agent. Each policy document carries its
            own mode, so attachment is only the list.
        publicAccess:
          type: boolean
          description: "Opt the agent into the public runtime endpoint (SSE/WebSocket via the stage runtime key). Off by default — secured. When false/unset, public-key requests for this agent are refused with HTTP 403 (code public_access_disabled); internal callers and channel webhooks are unaffected."
        sandbox:
          type: string
          description: Id of the agent-level sandbox config (POST /v1/sandboxes). Powers stateless bash and is the default sandbox for workspaces that don't set their own.
        workspaces:
          type: array
          description: References to account-scoped workspace configs. Agents sharing a workspaceId share files.
          items:
            type: object
            required: [name, workspaceId]
            properties:
              name:
                type: string
[...]
